html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

h2, h3, label {
    color: antiquewhite;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background: none;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width: 30em) {
    button {
        display: block;
        margin: 0.4em auto;
    }
}

.start-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: darkslategrey;
}

#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form > * {
    margin-top: 10pt;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 400pt;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20pt 0;
}

main {
    padding: 5pt 20pt;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person-section {
    padding: 10pt;
    display: flex;
    width: 100%;
    min-height: 30pt;
    margin: 1pt 0;
    flex-direction: column;
    border: turquoise 2pt dashed;
}

.person-section .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.person-card {
    min-width: 10pt;
    border-radius: 10pt;
    padding: 5pt;
    margin: 5pt;
    text-align: center;
}

.navigation {
    margin: 1pt 0;
    min-height: 30pt;
    padding: 20pt;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation button {
    margin: 0 5pt;
}

.color-picker {
    display: flex;
    justify-content: space-between;
    min-width: 250pt;
}

.color-picker input[type=radio] {
    display: none;
}

.color-picker input[type=radio]:checked + label span {
    transform: scale(1.25);
}

.color-picker input[type=radio]:checked + label .red {
    border: 2px solid #711313;
}

.color-picker input[type=radio]:checked + label .orange {
    border: 2px solid #873a08;
}

.color-picker input[type=radio]:checked + label .yellow {
    border: 2px solid #816102;
}

.color-picker input[type=radio]:checked + label .olive {
    border: 2px solid #505a0b;
}

.color-picker input[type=radio]:checked + label .green {
    border: 2px solid #0e4e1d;
}

.color-picker input[type=radio]:checked + label .teal {
    border: 2px solid #003633;
}

.color-picker input[type=radio]:checked + label .blue {
    border: 2px solid #103f62;
}

.color-picker input[type=radio]:checked + label .violet {
    border: 2px solid #321a64;
}

.color-picker input[type=radio]:checked + label .purple {
    border: 2px solid #501962;
}

.color-picker input[type=radio]:checked + label .pink {
    border: 2px solid #851554;
}

.color-picker label {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.color-picker label:hover span {
    transform: scale(1.25);
}

.color-picker label span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}

.color-picker label span.red {
    background: #DB2828;
}

.color-picker label span.orange {
    background: #F2711C;
}

.color-picker label span.yellow {
    background: #FBBD08;
}

.color-picker label span.olive {
    background: #B5CC18;
}

.color-picker label span.green {
    background: #21BA45;
}

.color-picker label span.teal {
    background: #00B5AD;
}

.color-picker label span.blue {
    background: #2185D0;
}

.color-picker label span.violet {
    background: #6435C9;
}

.color-picker label span.purple {
    background: #A333C8;
}

.color-picker label span.pink {
    background: #E03997;
}